.display-none {
  display: none;
}
.toaster {
  position: absolute;
  top: 4rem;
  right: 4rem;
  padding: 1rem 3rem;
  font-size: 1.2em;
  background: rgba(71, 243, 94, 0.785);
  border: 1px solid rgba(71, 243, 94, 0.984);
  border-radius: 7px;
}
